body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
a {
  text-decoration: none !important;
  color: white !important;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 22%;
  height: 450px !important;
  margin: 1rem;
}

.product img {
  width: 100%;
  height: 200px !important;
}

.cart {
  display: flex;
  flex-wrap: wrap;
}

.cartItems {
  padding: 0.2rem;
  background-color: white;
  color: black;
}

.totalPrice {
  background-color: #0d6efd;
  padding: 0.2rem;
}
